.card{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

margin-top:25px;

}

.badge-container{

display:flex;

flex-wrap:wrap;

gap:12px;

margin-top:20px;

}

.skill-badge{

background:#2563eb;

color:white;

padding:8px 15px;

border-radius:30px;

font-size:14px;

font-weight:500;

transition:.3s;

}

.skill-badge:hover{

transform:scale(1.05);

}