.navbar {
  background: #1f2937;
  color: white;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #60a5fa;
}